<br><br>
<!-- <div class="form-check">

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        Paquete 1
                        <ul>
                            <li>servicio uno</li>
                            <li>servicio dos</li>
                            <li>servicio tres</li>
                        </ul>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Seleccionar
                        </label>
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                  </div>
                
                
            </div>
            <div class="col">
                Paquete 2
                <ul>
                    <li>servicio uno</li>
                    <li>servicio dos</li>
                    <li>servicio tres</li>
                </ul>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Seleccionar
                </label>
            </div>
            <div class="col">
                Paquete 3
                <ul>
                    <li>servicio uno</li>
                    <li>servicio dos</li>
                    <li>servicio tres</li>
                </ul>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Seleccionar
                </label>
            </div>
        </div>
    </div>
</div> -->
